html, body {
	margin: 0px;
	padding: 0px;
	background: #888;
	color: #fff;
	text-align: center;
}
#console, #commandline {
	position: absolute;
	width: 100%;
	background: #555;
	color: #fff;
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	font-size: 14px;
	text-align: left;
}
#console {
	top: 0px;
	bottom: 17px;
	resize: none;
	overflow-y: auto;
	border-bottom: 1px solid #888;
}
#commandline {
	height: 17px;
	bottom: 0px;
	left: 0px;
}
